<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"> 

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target name="allfile" xsi:type="File" fileName="C:\temp\nlog-kinolog-all-${shortdate}.log"
            layout="${longdate}|${level}|${message} |${exception:format=tostring}" />
    <target name="infologs" xsi:type="File" fileName="C:\temp\nlog-kinolog-info+${shortdate}.log"
            layout="${longdate}|${level}|${logger-name}|${message} |${exception:format=tostring}" />
    <target name="customlogsfile" xsi:type="File" fileName="C:\temp\nlog-kinolog-custom-${shortdate}.log"
            layout="${longdate}|${level}|${message} |${exception:format=tostring}" />
    <target name="logconsole" xsi:type="Console"
            layout="${longdate}|${level}|${message} |${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="kinolog.*" minlevel="Info" writeTo="customlogsfile" />
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="infologs,logconsole" />
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
  </rules>
</nlog>